.comments {
  background: url(../images/content/contacts_bg.png) center center no-repeat, url(../images/content/main-bg2.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 170px;
}