.form__row {
  display: flex;
  margin-bottom: 40px;
}

.form__label {
  margin-right: 95px;
}

.form__label-title {
  font-size: 16px;
  color: #3f4245;
  font-weight: 600;
  margin-bottom: 10px;
}

.form__sub-btn {
  padding: 30px 120px;
  background-color: #db9022;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}