.promo {
  display: flex;
}

.promo__site {
  margin-right: 60px;
  font-size: 18px;
  color: #716c68;
  padding-top: 150px;
  text-align: right;
}

.promo__myname {
  padding-top: 130px;

  color: #fff;
  font-weight: bold;
  font-size: 72px;
}