.slider-button {
  height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 17px 0;
}

.slider-buttons__item--slide--prev, .slider-buttons__item--slide--next {
  background-color: transparent;
  color: #fff;
}
