.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  display: block;
  fill: #716c68;

  &:hover {
    fill: #ff9a00;
  }
}